body {
  font-family: "AvenirNext", Avenir, "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  color: #505050;
}

a {
  color: #0077c5;
  text-decoration: none;
}

.main-container-div {
  width: 100%;
  height: 100%;
  background-color: rgb(236, 238, 241);
}

.nav-bar-div {
  width: 100%;
  height: 3.125rem;
  background-color: rgb(236, 238, 241);
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
}

.sign-up-btn-div {
  background-color: #0077c5;
  color: white;
  text-align: center;
  border-radius: 0.3rem;
  margin-left: 1rem;
  width: 6rem;
  height: 2.5rem;
  margin-right: 3rem;
  border: 1px solid black;
}

.nav-bar-text-div {
  font-size: 0.8rem;
  line-height: 1.5em;
}

.nav-bar-text-div span {
  color: #0077c5;
}

.logo_and_form_main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.logo-div {
  display: flex;
  justify-content: center;
}

.form-div {
  display: flex;
  justify-content: center;
}

.form-section {
  width: 30%;
  background-color: white;
  border: 1px solid grey;
  margin-top: 1.5rem;
  border-width: 1px;
  border-color: rgb(203, 204, 199);
}

.form-text-div h3 {
  font-size: 1.5rem;
  line-height: 4rem;
  font-weight: 100;
}

.input-boxes-div {
  margin: 1rem;
  margin-top: 0.5rem;
  padding: 2rem 0.01rem 2rem 0.01rem;
  display: flex;
  flex-direction: column;
}

.input-boxes-div fieldset {
  margin-top: 1rem;
  padding: 0.5rem;
  text-align: left;
}

.input-boxes-div input {
  width: 100%;
  height: 2rem;
  border: 0.5px solid grey;
  border-radius: 0.2rem;
}

.input-boxes-div p {
  margin-top: 0.4rem;
  font-size: 0.65rem;
  text-align: left;
}

.input-btn-div {
  background-color: #0077c5;
  color: white;
  text-align: center;
  border: none;
  border-radius: 0.2rem;
  width: 100%;
  height: 2.5rem;
  font-weight: 400;
  font-size: 1rem;
}

.form-disclaimer-div {
  font-size: small;
  line-height: 1.5rem;
  font-style: italic;
  margin-bottom: 1.5rem;
}

.form-footer-div {
  background-color: rgb(236, 238, 241);
  font-size: xx-small;
  padding: 1.5rem;
}

.footer-div {
  font-size: small;
  margin: 2rem;
  line-height: 1rem;
}

.footer-div a {
  color: #505050;
}

#footer-spacing {
  word-spacing: 10px;
}
